/* Move block container higher */
div.css-1cnv8t9 eltzin50 {
    margin-top: -5em;
  }
  
  /* Adjustments for the logo image*/
  
  img {
    display: block;
    margin-top: 1.5em;
  }
  
  /* Centering text in each gray box */
  div.css-1wivap2 e16fv1kl3 {
    text-align: center;
  }
  
  
  
  /* Row 1 */
  div.css-ocqkz7.e1tzin5v4 {
      background-color: #EEEEEE;
      padding: 3% 3% 3% 3%;
      border-radius: 5px;
  }